In [ ]:
# %pip install scikit-learn
# %pip install matplotlib

In [ ]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

import pylab as plt
import seaborn as sns

In [ ]:
df_m = pd.read_csv(r'C:\Users\david\Proyectos\Local\Kaggle_Competition\data\muestra.csv',encoding='latin1')
df_s = pd.read_csv(r'C:\Users\david\Proyectos\Local\Kaggle_Competition\data\salaries_data.csv',encoding='latin1')
df_t = pd.read_csv(r'C:\Users\david\Proyectos\Local\Kaggle_Competition\data\testeo.csv',encoding='latin1')

In [ ]:
df_s.info()

In [ ]:
df_s = df_s.drop(['salary'], axis=1)

In [ ]:
df_t = df_t.drop(['salary'], axis=1)

In [ ]:
df_s.describe().T

In [ ]:
df_s.corr()

In [ ]:
sns.set(style='white')

mask=np.triu(np.ones_like(df_s.corr(), dtype=bool))

cmap=sns.diverging_palette(0, 10, as_cmap=True)


sns.heatmap(df_s.corr(),
           mask=mask,
          cmap=cmap,
          center=0,
          square=True,
          annot=True,
          linewidths=0.5,
          cbar_kws={'shrink': 0.5});

In [ ]:
df_s.shape == df_s.drop_duplicates().shape

In [ ]:
df_s.drop_duplicates().shape

In [ ]:
df_s.duplicated()

In [ ]:
df_s[df_s.duplicated(keep=False)]

In [ ]:
len(df_s[df_s.duplicated(keep=False)])

In [ ]:
#df_s = df_s.drop_duplicates()

In [ ]:
df_s.shape

In [ ]:
df_s.work_year.value_counts()

In [ ]:
df_t.work_year.value_counts()

In [ ]:
df_s.experience_level.value_counts()

In [ ]:
df_t.experience_level.value_counts()

In [ ]:
df_s.employment_type.value_counts()

In [ ]:
df_t.employment_type.value_counts()

### COLUMNA JOB TITLE

In [ ]:
df_s.job_title.unique()

In [ ]:
df_s.job_title.value_counts()

lista=[]

for i in df_s.salary_in_usd:
    if i < 70000:
        lista.append(1)
    elif i >= 70000 and i < 110000:
        lista.append(2)
    elif i >= 110000 and i < 150000:
        lista.append(3)
    else:
        lista.append(4)
lista

In [ ]:
#df_s['salary_level'] = lista

In [ ]:
df_s.columns

In [ ]:
df_s.employee_residence.value_counts()

In [ ]:
#sns.distplot(df_s.salary)

In [ ]:
df_s.salary_currency.value_counts()

In [ ]:
df_s.salary_in_usd.unique()

In [ ]:
df_s.sort_values(by = ['salary_in_usd'], ascending = False).head(10)

In [ ]:
df_s.employee_residence.value_counts()

In [ ]:
df_s.remote_ratio.value_counts()

In [ ]:
df_s.company_location.value_counts()

In [ ]:
df_s.company_size.value_counts()

In [ ]:
stats = df_s.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

In [ ]:
outliers = pd.DataFrame(columns=df_s.columns)
for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = df_s[(df_s[col] < lower) |
                   (df_s[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)
outliers

In [ ]:
len(outliers)

In [ ]:
outliers.Outlier.value_counts()

In [ ]:
outliers[outliers.Outlier=='salary_in_usd'].index

In [ ]:
bad_index = outliers[outliers.Outlier=='salary_in_usd'].index
bad_index

In [ ]:
df_s.drop(bad_index, inplace=True)

In [ ]:
# df_s.drop(bad_index_2, inplace=True)

In [ ]:
df_s.shape

In [ ]:
lista = []

for i in df_s.job_title.unique():

    linea = []
    linea.append(i)
    linea.append(df_s[df_s.job_title==i].salary_in_usd.mean())
    linea.append(df_s[df_s.job_title == i].job_title.value_counts()[0])
    lista.append(linea)

df=pd.DataFrame(lista, columns=['job_title', 'average_salary', 'job_numbers'])
df.sort_values('average_salary', ascending=False)

In [ ]:
lista = []

for i in df_s.job_title.unique():

    linea = []
    linea.append(i)
    linea.append(df_s[df_s.job_title==i].salary_in_usd.mean())
    linea.append(df_s[df_s.job_title == i].job_title.value_counts()[0])
    lista.append(linea)

df=pd.DataFrame(lista, columns=['job_title', 'average_salary', 'job_numbers'])
df.sort_values('average_salary', ascending=False)

In [ ]:
def limpiar_job_title(x):

    if 'Analyst' in x or 'Vision' in x:
        return 'Data Analyst'
    elif 'Science' in x or 'Scientist' in x or 'Specialist' in x or 'Head' in x or 'Manager' in x:
        return 'Data Scientist'
    elif 'Engineer' in x or 'Architect' in x or 'Developer' in x:
        return 'Data Engineer'
    
    else:
        return x

In [ ]:
df_s.job_title = df_s.job_title.apply(limpiar_job_title)

def limpiar_job_title(x):

    if 'Analyst' in x or 'Analytics' in x or 'Vision' in x:
        return 'Data Analyst'
    elif 'Scientist' in x or 'Science' in x:
        return 'Data Scientist'
    elif 'Principal' in x or 'Head' in x:
        return 'Data Manager'
    elif 'Machine' in x:
        return 'Machine Learning'
    elif 'Engineering' in x or 'Engineer' in x or 'Architect' in x:
        return 'Data Engineer'
    
    #elif 'Machine Learning Engineer' in x:
        #return 'Machine Learning'
    #elif 'Engineer' in x:
        #return 'Data Engineer'
    
    
    
    else:
        return x

In [ ]:
    df_s.job_title.value_counts()

def limpiar_job_title(x):

    if 'Analyst' in x or 'ETL' in x or 'Vision' in x:
        return 'Data Analyst'
    elif 'Scientist' in x or 'Head' in x or 'Science' in x or 'Machine' in x or 'Manager' in x or 'Specialist' in x:
        return 'Data Scientist'
    elif 'Engineer' in x or 'Architect' in x:
        return 'Data Engineer'
    
    
    
    else:
        return x

def limpiar_job_title(x):
    if 'Analyst' in x:
        return 'Data Analyst'
    elif 'Data Architect' in x or 'Engineer' in x or 'Specialist' in x or 'ETL' in x or 'Researcher' in x:
        return 'Data Engineer'
    elif 'Scientist' in x or 'Machine Learning Developer' in x or 'Data Science Consultant' in x or 'Head' in x or 'Science' in x or 'Manager' in x:
        return 'Data Scientist'
    
    
    else:
        return x

def limpiar_job_title(x):
    if 'Principal' in x or 'Director' in x or 'Head' in x:
        return 'Data Director'
    elif 'Manager' in x:
        return 'Manager'
    elif 'Analyst' in x:
        return 'Data Analyst'
    elif 'Data Architect' in x or 'Engineer' in x or 'Specialist' in x or 'ETL' in x or 'Researcher' in x:
        return 'Data Engineer'
    elif 'Scientist' in x or 'Machine Learning Developer' in x or 'Data Science Consultant' in x:
        return 'Data Scientist'
    
    
    else:
        return x

In [ ]:
s_j = df_s.job_title.unique()
s_j

In [ ]:
len(s_j)

In [ ]:
df_t.job_title

In [ ]:
df_t.job_title = df_t.job_title.apply(limpiar_job_title)

In [ ]:
t_j = df_t.job_title.unique()
t_j

In [ ]:
df_t.job_title.value_counts()

In [ ]:
len(t_j)

In [ ]:
lst = []

for i in s_j:
    if i not in t_j:
        lst.append(i)
        
lst

In [ ]:
lst2 = []

for i in t_j:
    if i not in s_j:
        lst2.append(i)
        
lst2

In [ ]:
lista = []

for i in df_s.job_title.unique():

    linea = []
    linea.append(i)
    linea.append(df_s[df_s.job_title==i].salary_in_usd.mean())
    linea.append(df_s[df_s.job_title == i].job_title.value_counts()[0])
    lista.append(linea)

df=pd.DataFrame(lista, columns=['job_title', 'average_salary', 'job_numbers'])
df.sort_values('average_salary', ascending=False)

In [ ]:
dict_jt = pd.Series(df.average_salary.values,index=df.job_title).to_dict()
dict_jt

In [ ]:
sm = df_s.salary_in_usd.mean()
sm

In [ ]:
lst=[]

for i in df_s.job_title:
    x = dict_jt[i]/sm
    lst.append(x)
    
lst

In [ ]:
df_s['valor_jt']=lst

In [ ]:
lst=[]

for i in df_t.job_title:
    x = dict_jt[i]/sm
    lst.append(x)
    
lst

In [ ]:
df_t['valor_jt']=lst

In [ ]:
df_t

In [ ]:
lista = []

for i in df_s.employee_residence.unique():

    linea = []
    linea.append(i)
    linea.append(df_s[df_s.employee_residence==i].salary_in_usd.mean())
    linea.append(df_s[df_s.employee_residence == i].employee_residence.value_counts()[0])
    lista.append(linea)

df=pd.DataFrame(lista, columns=['employee_residence', 'average_salary', 'employee_residence_number'])
df.sort_values('average_salary', ascending=False)

In [ ]:
def limpiar_employee_residence(x):
    if x == 'US':
        return 'US'
    elif x == 'GB':
        return 'GB'
    elif x == 'IN':
        return 'IN'    
    elif x == 'CA':
        return 'CA'   
    elif x == 'DE':
        return 'DE'   
    elif x == 'FR':
        return 'FR'   
    elif x == 'ES':
        return 'ES'   
    elif x == 'GR':
        return 'GR'   
    elif x == 'PK':
        return 'PK'   
    elif x == 'PT':
        return 'PT'   
    elif x == 'BR':
        return 'BR'   
    elif x == 'NL':
        return 'NL'   
    elif x == 'JP':
        return 'JP'   
    else:
        return 'other'

In [ ]:
df_s.employee_residence = df_s.employee_residence.apply(limpiar_employee_residence)

In [ ]:
df_s.employee_residence.value_counts()

In [ ]:
lista = []

for i in df_s.employee_residence.unique():

    linea = []
    linea.append(i)
    linea.append(df_s[df_s.employee_residence==i].salary_in_usd.mean())
    linea.append(df_s[df_s.employee_residence == i].employee_residence.value_counts()[0])
    lista.append(linea)

df=pd.DataFrame(lista, columns=['employee_residence', 'average_salary', 'employee_residence_number'])
df.sort_values('average_salary', ascending=False)

In [ ]:
df_t.employee_residence = df_t.employee_residence.apply(limpiar_employee_residence)

In [ ]:
df_t.employee_residence.value_counts()

In [ ]:
df

In [ ]:
dict_c = pd.Series(df.average_salary.values,index=df.employee_residence).to_dict()
dict_c

In [ ]:
sm = df_s.salary_in_usd.mean()
sm

In [ ]:
lst=[]

for i in df_s.employee_residence:
    x = dict_c[i]/sm
    lst.append(x)
    
lst

In [ ]:
df_s['valor_residencia']=lst

In [ ]:
lst=[]

for i in df_t.employee_residence:
    x = dict_c[i]/sm
    lst.append(x)
    
lst

In [ ]:
df_t['valor_residencia']=lst

In [ ]:
df_s.company_location.unique()

In [ ]:
df_s.company_location = df_s.company_location.apply(limpiar_employee_residence)

In [ ]:
df_t.company_location = df_t.company_location.apply(limpiar_employee_residence)

In [ ]:
lista = []

for i in df_s.company_location.unique():

    linea = []
    linea.append(i)
    linea.append(df_s[df_s.company_location==i].salary_in_usd.mean())
    linea.append(df_s[df_s.company_location == i].company_location.value_counts()[0])
    lista.append(linea)

df=pd.DataFrame(lista, columns=['company_location', 'average_salary', 'company_location_number'])
df.sort_values('average_salary', ascending=False)

In [ ]:
dict_cl = pd.Series(df.average_salary.values,index=df.company_location).to_dict()
dict_cl

In [ ]:
lst=[]

for i in df_s.company_location:
    x = dict_cl[i]/sm
    lst.append(x)
    
lst

In [ ]:
#df_s['valor_company_location']=lst

In [ ]:
lst2=[]

for i in df_t.company_location:
    x = dict_cl[i]/sm
    lst2.append(x)
    
len(lst2)

In [ ]:
#df_t['valor_company_location']=lst2

In [ ]:
df_s.salary_currency.value_counts()

In [ ]:
sns.set(style='white')

mask=np.triu(np.ones_like(df_s.corr(), dtype=bool))

cmap=sns.diverging_palette(0, 10, as_cmap=True)


sns.heatmap(df_s.corr(),
           mask=mask,
          cmap=cmap,
          center=0,
          square=True,
          annot=True,
          linewidths=0.5,
          cbar_kws={'shrink': 0.5});

In [ ]:
df_st = pd.concat([df_s, df_t])

In [ ]:
df_st.head()

In [ ]:
# normalizacion, Normal(0, 1)

from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()

df_st[['work_year', 
         'remote_ratio', 
        'valor_residencia', 
       'valor_jt',
       #'valor_company_location'
      ]] = scaler.fit_transform(df_st[['work_year', 
                                       'remote_ratio', 
                                       'valor_residencia', 
                                       'valor_jt',
                                       #'valor_company_location'
                                      ]])

In [ ]:
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder

In [ ]:
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder

df_st.experience_level=LabelEncoder().fit_transform(df_st.experience_level)
df_st.employment_type=LabelEncoder().fit_transform(df_st.employment_type)
df_st.job_title=LabelEncoder().fit_transform(df_st.job_title)
df_st.salary_currency=LabelEncoder().fit_transform(df_st.salary_currency)
df_st.employee_residence=LabelEncoder().fit_transform(df_st.employee_residence)
df_st.company_location=LabelEncoder().fit_transform(df_st.company_location)
df_st.company_size=LabelEncoder().fit_transform(df_st.company_size)


df_st.head()

In [ ]:
#df_st=pd.get_dummies(df_st, columns=['experience_level', 'employment_type', 'job_title', \
##                                   'salary_currency', 'employee_residence', 'company_location',
#                                   'company_size' ], drop_first=True)

#df_st.head()

In [ ]:
plt.figure(figsize=(20, 15))

sns.set(style='white')

mask=np.triu(np.ones_like(df_st.corr(), dtype=bool))

cmap=sns.diverging_palette(0, 10, as_cmap=True)


sns.heatmap(df_st.corr(),
           mask=mask,
          cmap=cmap,
          center=0,
          square=True,
          annot=True,
          linewidths=0.5,
          cbar_kws={'shrink': 0.5});

In [ ]:
# df_st = df_st.drop(['company_location'], axis=1)

In [ ]:
df_st.head()

In [ ]:
# df_st = df_st.drop(['job_title', 'employee_residence', 'company_location'], axis=1)

In [ ]:
df_st

In [ ]:
df_t = df_st[-107:]
df_t.head()

In [ ]:
df_s = df_st[:-107]
df_s.head()

In [ ]:
df_t = df_t.drop(['salary_in_usd'], axis=1)
df_t

In [ ]:
X = df_s.drop(['salary_in_usd'], axis=1)
y = df_s.salary_in_usd

In [ ]:
X.head()

In [ ]:
y.head()

In [ ]:
from sklearn.model_selection import train_test_split as tts

In [ ]:
#X_train, X_test, y_train, y_test = tts(X, y, train_size=0.8, test_size=0.2, random_state=22)
#
#X_train.shape, X_test.shape, y_train.shape, y_test.shape

In [ ]:
#%pip install xgboost

#%pip install catboost

#%pip install lightgbm


from sklearn.linear_model import LinearRegression as LinReg

from sklearn.linear_model import Lasso        # regularizacion L1
from sklearn.linear_model import Ridge        # regularizacion L2
from sklearn.linear_model import ElasticNet   # regularizacion L1+L2

from sklearn.svm import SVR  # support vector regressor

from sklearn.ensemble import RandomForestRegressor as RFR  
from sklearn.tree import ExtraTreeRegressor as ETR

from sklearn.ensemble import GradientBoostingRegressor as GBR

from xgboost import XGBRegressor as XGBR

from catboost import CatBoostRegressor as CTR

from lightgbm import LGBMRegressor as LGBMR

from sklearn.metrics import mean_absolute_error as mae

from sklearn.metrics import r2_score as r2

from sklearn.metrics import mean_squared_error as mse

In [ ]:
lista = []
linreg=LinReg()
lasso=Lasso()
ridge=Ridge()
elastic=ElasticNet()
svr=SVR()
rfr=RFR()
etr=ETR()
gbr=GBR()
xgbr=XGBR()
ctr=CTR()
lgbmr=LGBMR()

In [ ]:
def coach_models(X_train, y_train, X_test, y_test):
    lista = []
    linreg=LinReg()
    lasso=Lasso()
    ridge=Ridge()
    elastic=ElasticNet()
    svr=SVR()
    rfr=RFR()
    etr=ETR()
    gbr=GBR()
    xgbr=XGBR()
    ctr=CTR()
    lgbmr=LGBMR()
    
    modelos=[linreg, lasso, ridge, elastic, svr, rfr, etr, gbr, xgbr, ctr,  lgbmr]
    n_modelos=['linreg', 'lasso', 'ridge', 'elastic', 'svr', 'rfr', 'etr', 'gbr', 'xgbr', 'ctr', 'lgbmr']
    
    for i, m in enumerate(modelos):
        linea = []
        linea.append(n_modelos[i])
        
        if n_modelos[i] == 'ctr':
            m.fit(X_train, y_train, verbose=0)
            m.predict(X_test)
            y_pred=m.predict(X_test)
            e1 = mse(y_test, y_pred, squared=False)
            e2 = mae(y_test, y_pred)
            e3 = r2(y_test, y_pred)
        else:
            m.fit(X_train, y_train)
            m.predict(X_test)
            y_pred=m.predict(X_test)
            e1 = mse(y_test, y_pred, squared=False)
            e2 = mae(y_test, y_pred)
            e3 = r2(y_test, y_pred)
        linea.append(e1)
        linea.append(e2)
        linea.append(e3)
        lista.append(linea)
    df=pd.DataFrame(lista, columns=['modelo', 'rmse', 'mae', 'r2'])
    return df

In [ ]:
#coach_models(X_train, y_train, X_test, y_test)

In [ ]:
coach_models(X, y, X, y)

    linreg=LinReg()
    lasso=Lasso()
    ridge=Ridge()
    elastic=ElasticNet()
    svr=SVR()
    rfr=RFR()
    etr=ETR()
    gbr=GBR()
    xgbr=XGBR()
    ctr=CTR()
    lgbmr=LGBMR()

In [ ]:
gbr.fit(X, y)

linreg=LinReg()
lasso=Lasso()
ridge=Ridge()
elastic=ElasticNet()
svr=SVR()
rfr=RFR()
etr=ETR()
gbr=GBR()
xgbr=XGBR()
lgbmr=LGBMR()

modelos=[linreg, lasso, ridge, elastic, svr, rfr, etr, gbr, xgbr, lgbmr]

for m in modelos:
    m.fit(X_train, y_train)
    y_pred=m.predict(X_test)
    error_mse = mse(y_test, y_pred)
    error_rmse = mse(y_test, y_pred, squared=False)
    error_mae = mae(y_test, y_pred)
    error_r2 = r2(y_test, y_pred)
    
    print('Modelo', m, 'error mse', error_mse, 'error rmse', error_rmse, 'error mae', error_mae, 'error r2', error_r2)

In [ ]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [ ]:
x=sm.add_constant(df_s[[
    
    'work_year',
    'experience_level',
    'employment_type',
    'job_title',
    #'salary',
    'salary_currency',
    'employee_residence',
    'remote_ratio',
    'company_location',
    'company_size'
    
]])



y=df_s.salary_in_usd


modelo=sm.OLS(y, x).fit()

pred=modelo.predict(x)

modelo.summary()

In [ ]:
# %pip install lazypredict

In [ ]:
X.head()

In [ ]:
from lazypredict.Supervised import LazyRegressor
from sklearn import datasets
from sklearn.utils import shuffle
import numpy as np

reg = LazyRegressor(verbose=0, ignore_warnings=False, custom_metric=None)
models, predictions = reg.fit(X, X, y, y)
print(models)

### PREPARACIÓN MUESTRA PARA KAGGLE

In [ ]:
df_t

In [ ]:
X

In [ ]:
gbr.predict(df_t)

In [ ]:
y_pred = gbr.predict(df_t)
y_pred[:10]

In [ ]:
len(y_pred)

In [ ]:
df_m

In [ ]:
df_m['salary_in_usd'] = y_pred
df_m

In [ ]:
#df_m.to_csv('pred_DTS_13.csv', index=False)

In [ ]:
#df_m.head()